
$spacer: 1rem !default;
$privacy-policy-spacer: $spacer !default;
$privacy-policy-background-color: $black !default;
$privacy-policy-color: $white-ter !default;
$privacy-policy-font-size: $size-normal !default;
$privacy-policy-padding: $spacer !default;

.privacy_policy {
  background: $privacy-policy-background-color;
  color: $privacy-policy-color;
  padding: $privacy-policy-padding;
  font-size: $privacy-policy-font-size;
  transition: .3s opacity, .3s transform;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  transform: translateY(100%);

  &.is-opened {
    transform: translateY(0%);
    opacity: 1;
  }
}

.privacy_policy-container {
  display: grid;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: 1fr max-content;
    align-items: center;
  }
}
